
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #f5b78b, #f6d6b5);
    color: black;
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.header {
    padding: 15px 0;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 30px;
}


.logo {
    height: 40px;
}
.header__item a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.btn {
    background: black;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #333;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.hero__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.hero__text {
    max-width: 50%;
}

.hero__title {
    font-size: 36px;
    font-weight: bold;
}

.hero__subtitle {
    font-size: 20px;
    margin: 10px 0;
}

.hero__subtitle{
    font-weight: bold;
    color: #f39c12;
}

.hero__desc {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.hero__price {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}
.social-icons {
    width: 24px;
    margin-right: 10px;
    cursor: pointer;
}
.hero__image {
    width: 350px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.arrow {
    background: rgba(0, 0, 0, 0.3);
    color: white;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.3s;
}

.arrow:hover {
    background: rgba(0, 0, 0, 0.6);
}
.hero__image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow.left {
    left: -40px;
}

.arrow.right {
    right: -40px;
}
